<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mperezsilva.pasardatos" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.mperezsilva.pasardatos.Actividad1"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.mperezsilva.pasardatos.Actividad2"
            android:label="@string/title_activity_actividad2" >
        </activity>
        <activity
            android:name="com.example.mperezsilva.pasardatos.MostrarLista"
            android:label="@string/title_activity_mostrar_lista" >
        </activity>
        <activity
            android:name="com.example.mperezsilva.pasardatos.ActivityBorrar"
            android:label="@string/title_activity_activity_borrar" >
        </activity>
    </application>

</manifest>
